body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #EDE3DA;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 25px 32px -4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-menu li {
    margin-right: 20px;
}

.navbar-menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.2em;
}
.active {
    background-color: #E2CEBC;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}
.container {
    max-width: 1200px; /* Adjust the maximum width of the container as needed */
    margin: 0 auto; /* Center the container */
    overflow: hidden; /* Clear floats */
}

.column {
    width: 50%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input,
select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 45px;
}

button {
    padding: 10px;
    background-color: #F4DFC8;
    color: #000000;
    border: none;
    border-radius: 45px;
    cursor: pointer;
}

button:hover {
    background-color: #E2CEBC;
}
.popup {
  display: none;
  position: fixed;
  top: 86px;
  right: 10px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 300px;
  text-align: center;
  z-index: 999;
}

.popup h2 {
  margin-bottom: 10px;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.accept-btn,
.reject-btn {
  padding: 10px;
  cursor: pointer;
}